<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <i class="fas fa-newspaper"></i> News Portal
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Go to</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['landing']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="far fa-newspaper"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">All News</h6>
                  <p class="description d-none d-md-inline-block mb-0">Don't miss a thing! See all the news</p>
                </div>
              </a>
              <a *ngIf="!user" routerLinkActive="active" [routerLink]="['login']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="fas fa-sign-in-alt"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Log In</h6>
                  <p class="description d-none d-md-inline-block mb-0">To Add or Edit News, you need to log in first with your existing account.</p>
                </div>
              </a>
              <a *ngIf="user" routerLinkActive="active" [routerLink]="['news/add-edit/add']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="fas fa-plus-circle"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Add News</h5>
                  <p class="description d-none d-md-inline-block mb-0">Add New News</p>
                </div>
              </a>
              <a *ngIf="user" routerLinkActive="active" [routerLink]="['news/me/added']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="fas fa-upload"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Published by me</h5>
                  <p class="description d-none d-md-inline-block mb-0">See All the news that you have published/edited</p>
                </div>
              </a>
              <a *ngIf="user" routerLinkActive="active" (click)="logOff()" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="fas fa-upload"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Log Out</h5>
                  <p class="description d-none d-md-inline-block mb-0">Log out of the application</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Categories</span>
          </a>
          <div class="dropdown-menu">
            <a *ngFor="let category of categoriesArray" [routerLink]="['/news', category.categoryId]" class="dropdown-item">{{ category.name }}</a>
          </div>
        </li>
      </ul>
      <ul *ngIf="user" class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-none d-lg-block ml-lg-4 user"> 
          <a [routerLink]="['/user-profile']" class="user"> 
            <span class="btn-inner--icon">
                <i class="fas fa-user"></i>
              </span>
              <span class="nav-link-inner--text">{{ user.userName }}</span>
          </a> 
        </li>
      </ul>
    </div>
  </div>
</nav>
